<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<style type="text/css">

        @media only screen and (max-device-width: 480px) {

        body   {  -webkit-text-size-adjust: none; }

        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

        body   {  -webkit-text-size-adjust: none; }

        }

	</style>
</head>
<body>

	<table border="0" width="650" style="border-collapse:collapse;font-size:18px;font-family:helvetica;color:#888">
		<tr>
			<td colspan="3">
				<img style="display:block" border="0" src="images/header.png" alt="header">
			</td>
		</tr>

		<tr>
			<td width="10"></td>
			<td width="630">
				<table border="0" style="border-collapse:collapse;font-size:18px;font-family:helvetica;color:#888">
					<tr>
						<td border="0">
							<span style="font-size:22px">Header</span><br><br>

							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius in rem nostrum similique quibusdam, ipsum cumque quidem alias, assumenda unde impedit omnis hic nihil blanditiis repellendus numquam nulla praesentium voluptatibus.<br><br> 

							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quasi suscipit nemo assumenda vero modi tenetur fuga sequi molestias itaque enim velit, quod neque dolor libero animi molestiae iure fugit.<br><br>
						</td>
					</tr>
				</table>
			</td>
			<td width="10"></td>
		</tr>

		<tr>
			<td colspan="3">
				<img style="display:block" border="0" src="images/" alt="footer">
			</td>
		</tr>
	</table>
	
</body>
</html>